<tr>
    <td>
        {{ item.name }}
    </td>
    <td>
        {{ item.price }}
    </td>
    {% include item.item.shopViewFragment with { 'item' : item.item } %}
    <td class="text-justify">
        {{ item.description }}
    </td>
    <td>
        {{ qte }}
    </td>
</tr>