<tr>
    <td>
        {{ item.name }}
    </td>
    <td>
        {{ item.price }}
    </td>
    <td class="text-justify">
        {{ item.description }}
    </td>
    <td>
        {{ qte }}
    </td>
</tr>
