$avatar-height: 300px;

.character.show {
  border: 1px solid black;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;

  .avatar {
    height: $avatar-height;
    border: 1px solid red;
  }

  .basic {
    padding-left: 0;
    padding-right: 0;
    min-height: $avatar-height;

    .name {
      border: 1px solid green;
      text-align: center;
      font-weight: bold;
      font-size: 4em;
    }

    .specs {
      text-align: center;
      border: 1px solid greenyellow;
      height: 100%;
      padding-left: 0;
      padding-right: 0;

      .classes {
        padding-left: 0;
        padding-right: 0;
      }

      .types {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .stats {
      height: 30px;
    }
  }

  .stats {
    padding-left: 0;
    padding-right: 0;
    .calculated-stats {
      padding-top: 20px;
      border: 1px solid yellow;

      .headers {
        font-weight: bold;
      }
      
      .inversed {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        -webkit-animation-direction: reverse;
        -moz-animation-direction: reverse;
        -ms-animation-direction: reverse;
        -o-animation-direction: reverse;
        animation-direction: reverse;
      }
    }

    .basic-stats {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      
      .headers {
        padding-left: 0;
        padding-right: 0;
        
        .header {
          font-weight: bold;
          padding-bottom: 20px;
          border-right: 1px darkslategray solid;
          border-top: 1px darkslategray solid;
          &:first-of-type {
            border-left: 1px darkslategrey solid;
          }
        }
      }

      .values {
        padding-left: 0;
        padding-right: 0;
        
        .value {
          border-right: 1px darkslategray solid;
          border-bottom: 1px darkslategray solid;
          &:first-of-type {
            border-left: 1px darkslategrey solid;
          }
        }
      }
    }
  }

  .skills {
    border: 1px solid lightcoral;
    text-align: center;
    padding-top: 10px;
    .skill {
      padding-top: 10px;
      &:first-of-type {
        padding-top: 0;
      }
      .name {
        border: 1px solid lightcoral;
        float: left;
      }
      .used-stat {
        border: 1px solid lightcoral;
        border-left: 0;
        float: left;
      }
      .desc {
        border: 1px solid lightcoral;
        border-left: 0;
        float: left;
      }
    }
  }
}

.small-show {
  .character.show {

    font-size: 0.75em;
    margin-top: 10px;

    .avatar {
      height: $avatar-height/2;
    }

    .basic {
      min-height: $avatar-height/2;
    }

    .stats {
      .calculated-stats {
        padding-top: 10px;
        .progress {
          height: 15px;
          margin-bottom: 10px;
        }
      }

      .basic-stats {
        .headers {
          .header {
            padding-bottom: 5px;
          }
        }
      }
    }

    .skills {
      border: 1px solid lightcoral;
      text-align: center;
      padding-top: 5px;
      .skill {
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        .column {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }
}