.character.show {
  border: 1px solid black;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;

  .avatar {
    height: 300px;
    border: 1px solid red;
  }

  .basic {
    padding-left: 0;
    padding-right: 0;
    min-height: 300px;

    .name {
      border: 1px solid green;
      text-align: center;
      font-weight: bold;
      font-size: 4em;
    }

    .specs {
      border: 1px solid greenyellow;
      height: 100%;
      padding-left: 0;
      padding-right: 0;

      .classes {
        padding-left: 0;
        padding-right: 0;
      }

      .types {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .stats {
      height: 30px;

      .stat {

      }
    }
  }

  .stats {
    padding-left: 0;
    padding-right: 0;
    .calculated-stats {
      padding-top: 20px;
      border: 1px solid yellow;

      .headers {
        font-weight: bold;
      }
      
      .inversed {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        -webkit-animation-direction: reverse;
        -moz-animation-direction: reverse;
        -ms-animation-direction: reverse;
        -o-animation-direction: reverse;
        animation-direction: reverse;
      }
    }

    .basic-stats {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      
      .headers {
        padding-left: 0;
        padding-right: 0;
        
        .header {
          font-weight: bold;
          padding-bottom: 20px;
          border-right: 1px darkslategray solid;
          border-top: 1px darkslategray solid;
          &:first-of-type {
            border-left: 1px darkslategrey solid;
          }
        }
      }

      .values {
        padding-left: 0;
        padding-right: 0;
        
        .value {
          border-right: 1px darkslategray solid;
          border-bottom: 1px darkslategray solid;
          &:first-of-type {
            border-left: 1px darkslategrey solid;
          }
        }
      }
    }
  }
}