{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">{{ 'form.submit.create'|trans }}</button>
    {{ form_rest(form) }}
{% endblock %}