{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass'
    '@UserBundle/Resources/public/css/login.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts
    '@UserBundle/Resources/public/js/login.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block body %}
<div class="container">

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

</div> <!-- /container -->
{% endblock %}