/* line 1, assetic_compassX7mWoT.scss */
.character.show {
  border: 1px solid black;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
/* line 7, assetic_compassX7mWoT.scss */
.character.show .avatar {
  height: 300px;
  border: 1px solid red;
}
/* line 12, assetic_compassX7mWoT.scss */
.character.show .basic {
  padding-left: 0;
  padding-right: 0;
  min-height: 300px;
}
/* line 17, assetic_compassX7mWoT.scss */
.character.show .basic .name {
  border: 1px solid green;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}
/* line 24, assetic_compassX7mWoT.scss */
.character.show .basic .specs {
  text-align: center;
  border: 1px solid greenyellow;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
/* line 31, assetic_compassX7mWoT.scss */
.character.show .basic .specs .classes {
  padding-left: 0;
  padding-right: 0;
}
/* line 36, assetic_compassX7mWoT.scss */
.character.show .basic .specs .types {
  padding-left: 0;
  padding-right: 0;
}
/* line 42, assetic_compassX7mWoT.scss */
.character.show .basic .stats {
  height: 30px;
}
/* line 51, assetic_compassX7mWoT.scss */
.character.show .stats {
  padding-left: 0;
  padding-right: 0;
}
/* line 54, assetic_compassX7mWoT.scss */
.character.show .stats .calculated-stats {
  padding-top: 20px;
  border: 1px solid yellow;
}
/* line 58, assetic_compassX7mWoT.scss */
.character.show .stats .calculated-stats .headers {
  font-weight: bold;
}
/* line 62, assetic_compassX7mWoT.scss */
.character.show .stats .calculated-stats .inversed {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}
/* line 74, assetic_compassX7mWoT.scss */
.character.show .stats .basic-stats {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
/* line 79, assetic_compassX7mWoT.scss */
.character.show .stats .basic-stats .headers {
  padding-left: 0;
  padding-right: 0;
}
/* line 83, assetic_compassX7mWoT.scss */
.character.show .stats .basic-stats .headers .header {
  font-weight: bold;
  padding-bottom: 20px;
  border-right: 1px darkslategray solid;
  border-top: 1px darkslategray solid;
}
/* line 88, assetic_compassX7mWoT.scss */
.character.show .stats .basic-stats .headers .header:first-of-type {
  border-left: 1px darkslategrey solid;
}
/* line 94, assetic_compassX7mWoT.scss */
.character.show .stats .basic-stats .values {
  padding-left: 0;
  padding-right: 0;
}
/* line 98, assetic_compassX7mWoT.scss */
.character.show .stats .basic-stats .values .value {
  border-right: 1px darkslategray solid;
  border-bottom: 1px darkslategray solid;
}
/* line 101, assetic_compassX7mWoT.scss */
.character.show .stats .basic-stats .values .value:first-of-type {
  border-left: 1px darkslategrey solid;
}
/* line 109, assetic_compassX7mWoT.scss */
.character.show .skills {
  border: 1px solid lightcoral;
  text-align: center;
  padding-top: 10px;
}
/* line 113, assetic_compassX7mWoT.scss */
.character.show .skills .skill {
  padding-top: 10px;
}
/* line 115, assetic_compassX7mWoT.scss */
.character.show .skills .skill:first-of-type {
  padding-top: 0;
}
/* line 118, assetic_compassX7mWoT.scss */
.character.show .skills .skill .name {
  border: 1px solid lightcoral;
  float: left;
}
/* line 122, assetic_compassX7mWoT.scss */
.character.show .skills .skill .used-stat {
  border: 1px solid lightcoral;
  border-left: 0;
  float: left;
}
/* line 127, assetic_compassX7mWoT.scss */
.character.show .skills .skill .desc {
  border: 1px solid lightcoral;
  border-left: 0;
  float: left;
}
