/* line 3, assetic_compassZZlz9M.scss */
table thead th {
  text-align: center;
}
/* line 5, assetic_compassZZlz9M.scss */
table thead th .title {
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}
/* line 15, assetic_compassZZlz9M.scss */
table tbody tr td {
  text-align: center;
}
