{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="scssphp"
    '@CharacterBundle/Resources/public/css/character.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% for player in players %}
        <div class="col-md-6 small-show">
        {% include 'CharacterBundle:Character:show_content.html.twig' with {'character': player} %}
        </div>
    {% endfor %}

{% endblock %}